<section id="headSection">
    <div class="row align-items-start pb-4 mb-4 border-bottom">
        <div class="col align-self-center">
            <img src="<%= host %>/assets/images/businesslogo.png" width="200">
        </div>
        <div class="col">
            <h1 class="text-end">Tax Invoice</h1>
            <p class="mb-0 text-end" id="bustaxid" dmx-text="appSettings.data.bus_taxid">Business Tax ID</p>
            <p class="mb-0 text-end" id="busname" dmx-text="appSettings.data.bus_name">Business Name</p>
            <p class="mb-0 text-end" id="busaddress" dmx-text="appSettings.data.bus_address">Business Address</p>
            <p class="mb-0 text-end" id="bussuburb_zip_country" dmx-text="appSettings.data.bus_suburb +' '+appSettings.data.bus_zip +' '+appSettings.data.bus_country">Business Suburb, Zip, Country</p>
        </div>
    </div>
</section>